#Pdf link:


https://docs.google.com/document/d/1P8ffb5C82zd0vT7251ykzCBjS1SUvVH5/edit



----------


This Assignment is to help you develop your concept of Lists in Python.


[Please follow variable naming conventions including using meaningful variable names for all the tasks]


When you run your code, please make sure your outputs exactly match the sample outputs for each of the sample inputs given. Check if your code works for other valid inputs not given in the samples.
Write the code in Python to do the following tasks:


# Task 1



Write a Python program that reads 5 numbers from the user
into a list. After reading each number, print all the
numbers that have been entered so far in the list.

Example:

If the user enters 3, prints “Numbers in the list: [3]”

If the user enters 5 next, prints “Numbers in the list: [3,
5]”

If the user enters 34, prints “Numbers in the list: [3, 5,
34]”

If the user then enters -11, prints “Numbers in the list:

[3, 5, 34, -11]”

Finally, if the user enters 0 as the last number, prints
“Numbers in the list: [3, 5, 34, -11, 0]”





---

In [ ]:
lst=[]




for i in range(5):
  user=int(input(" Enter number"))
  lst.append(user)
  print(lst)

 Enter number3
[3]
 Enter number2
[3, 2]
 Enter number2
[3, 2, 2]
 Enter number2
[3, 2, 2, 2]
 Enter number2
[3, 2, 2, 2, 2]

# Task 2


Write a Python program that takes an input from the user, then creates a new list excluding the first and last two elements of the given list and prints the new list. If there are not enough elements in the list to do the task, print "Not possible".

Note: You may use list slicing.


=============================================================


Sample Input 1:

10, 20, 24, 25, 26, 35, 70

Sample Output 1:

[24, 25, 26]

===================================


Sample Input 2:

10, 20, 24, 25, 26

Sample Output 2:

[24]


====================================================


Sample Input 3:

10, 20, 24, 25

Sample Output 3:

[]

======================

Sample Input 4:

10, 20, 24

Sample Output 4:

Not possible

In [ ]:
user=(input()).split(",")
x=[]
for i in range(len(user)):
  x.append(int(user[i]))



if len(x)>=4:
  print(x[2:-2])
elif len(x)<=3:
  print(" Not possible")

10, 20, 24
not possible

In [ ]:
user=(input()).split(",")
x=[]
for i in user:
  x.append(i)



if len(x)>=4:
  print(x[2:-2])
elif len(x)<=3:
  print("not possible")



#in this code everything is fine but we got ["24"] because
#this is string so we will convert this to integers to get
#our desire value

10, 20, 24, 25, 26, 35, 70
[' 24', ' 25', ' 26']

# Task 3

Write a python program that reads
5 numbers from the user into a

list, and then prints them in the
reverse order.

Hint: You may create a list to
store the input numbers and then
use loop to print them in reverse
order
==================================
=================================


Sample Input:

5

-5

100

1

0
Sample Output:


Printing values from the list in reverse order:

0

1

100

-5

5

In [ ]:
lst=[]

for i in range(5):
  user=int(input(" Enter number : "))
  lst.append(user)




print("Printing value from the list in reverse order: ")
for i in range(4,-1,-1):

  print(lst[i])

 Enter number : 1
 Enter number : 2
 Enter number : 3
 Enter number : 4
 Enter number : 5
Printing value from the list in reverse order:
5
4
3
2
1

# Task 4


Write a Python program that turns
every item of a list into its
square. [Your program should work
for any lists; make changes to
the lists below and check whether
your program works correctly]

==================================


Given list 1:

[1, 2, 3, 4, 5, 6, 7]

Sample Output 1:

[1, 4, 9, 16, 25, 36, 49]

==================================


Given list 2:

[3, 5, 1, 6]


Sample Output 2:

[9, 25, 1, 36]

In [ ]:
user=input("Enter your list : ")[1:-1].split(",")
print("Input :",user)
new=[]

for i in user:
  new.append(int(i)**2)
print("Output : ",new)

#first we took a list as a string
# and we scliced to remove bracket []
# and split by "," now everything become a list and splited
#its time to use loop and convert them int and squre them

Enter your list : [1, 2, 3, 4, 5, 6, 7]
Input : ['1', ' 2', ' 3', ' 4', ' 5', ' 6', ' 7']
Output :  [1, 4, 9, 16, 25, 36, 49]

# Task 5

Write a Python program that removes all Empty strings from a given list and prints the modified list.

 [Your program should work for any given list; make changes to the list below and check whether your program works correctly]

Given List:


["hey", "there", "", "what's", "", "up", "", "?"]
Sample Output:

Original List: ['hey', 'there', '', "what's", '', 'up', '', '?']

Modified List: ['hey', 'there', "what's", 'up', '?']

In [ ]:
user=(input())[1:-1].split(",")

x=[]
new=[]
y=[]
for i in user:
  x.append(i)
print(x)

for i in x:
  if i!=' ""':
    y.append(i)
print(y)

["hey", "there", "", "what's", "", "up", "", "?"]
['"hey"', ' "there"', ' ""', ' "what\'s"', ' ""', ' "up"', ' ""', ' "?"']
['"hey"', ' "there"', ' "what\'s"', ' "up"', ' "?"']

In [ ]:
user=(input())[1:-1].split(",")

x=[]
st=""
for i in user:
  if i!=' ""':
   x.append(i)
print(x)

["hey", "there", "", "what's", "", "up", "", "?"]
['"', 'h', 'e', 'y', '"', ',', ' ', '"', 't', 'h', 'e', 'r', 'e', '"', ',', ' ', '"', '"', ',', ' ', '"', 'w', 'h', 'a', 't', "'", 's', '"', ',', ' ', '"', '"', ',', ' ', '"', 'u', 'p', '"', ',', ' ', '"', '"', ',', ' ', '"', '?', '"']

# Task 6



Write a Python program that reads
a string containing 7 numbers
separated by commas, then makes a
list of those numbers and prints
the largest number and its
location or index position in the
list. [You are not allowed to use
the max(), sort(), sorted()
function here]

[Your program should work for any
given list; make changes to the
list below and check whether your
program works correctly]

Hint: You may assume the first
input to be the largest value
initially and the largest value’s
location to be 0.

Note: You may need to be careful
while printing the output.
Depending on your code, you might
need data conversion.

==================================
=================================


Sample Input:

7,13,2,10,6,-11,0

Sample Output:

My list: [7, 13, 2, 10, 6, -11, 0]

Largest number in the list is 13
which was found at index 1.

In [ ]:
user=input(" enter 7 numbers separated by commas  : ").split(",")
print(" my list", user)
min=-1
max=0
idx=0
for i in range(len(user)):
  if int(user[i]) > int(min):
    max=user[i]
    idx=i
    min=max

print(f" Largest number in the list is {max} which was found at indes [idx]")

 enter 7 numbers separated by commas  : 7,13,2,10,6,-11,0
 my list ['7', '13', '2', '10', '6', '-11', '0']
 Largest number in the list is 13 which was found at indes [idx]


# Task 7



Suppose you have been given two
lists. Write a Python program
that replaces the last element of
the first list with the second
list. [Your program should work
for any two given lists; make
changes to the lists below and

check whether your program works correctly]

==================================
=================================

Sample given lists 1:

List_one : [1, 4, 7, 5]

List_two : [6, 1, 3, 9]

Sample Output 1:

[1, 4, 7, 6, 1, 3, 9]

==================================
=================================

Sample given lists 2:

List_one : [1, 3, 5, 7, 9, 10]

List_two : [2, 4, 6, 8]

Sample Output 2:

[1, 3, 5, 7, 9, 2, 4, 6, 8]

In [ ]:
user1=input()
user2=input()

new=user1[:-2]+user2[1:]
print(new)

 [1, 3, 5, 7, 9, 10]
[2, 4, 6, 8]
 [1, 3, 5, 7, 9, 12, 4, 6, 8]

# Task 8


Assume, you have been given two
lists. [Your program should work
for any two given lists; change
the following lists and check
whether your program works
correctly for the code you have
written]

list_one = [1, 2, 3, 4, 5, 6, 7,
8, 9]

list_two = [10, 11, 12, -13, -14,
-15, -16]

Write a Python program that
creates a new list with all the
even elements of both of the
given lists and prints the new
list.

Hint: You may create a third list
to store the even elements of the
given lists.

==================================
=================================

Output for the above lists: [2,
4, 6, 8, 10, 12, -14, -16]

In [ ]:
user1=input()[1:-1].split(",")
user2=input()[1:-1].split(",")


new=[]

for i in user1:
  if int(i)%2==0:
    new.append(int(i))

for j in user2:
  if int(j)%2==0:
    new.append(int(j))

print(new)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[10, 11, 12, -13, -14, -15, -16]
['1', ' 2', ' 3', ' 4', ' 5', ' 6', ' 7', ' 8', ' 9']
['10', ' 11', ' 12', ' -13', ' -14', ' -15', ' -16']
[2, 4, 6, 8, 10, 12, -14, -16]



# Task 9


Write a Python program that reads
a string as an input from the
user where multiple numbers are
separated by spaces. Then, make a
list of numbers from the input

string without using the split()
function and print the list.
Finally, remove all the
occurrences of even numbers from
the same input list and print the
modified list.

==================================
==================================

Sample Input:

7 12 4 55 96 2 11 61 33 42

Sample Output:

Original list: [7, 12, 4, 55, 96,

2, 11, 61, 33, 42]

Modified list: [7, 55, 11, 61, 33]

In [ ]:
user=input(" Enter string : ").split(" ")
new=[]
mod=[]
for i in user:
  new.append(int(i))

  if int(i)%2!=0:
    mod.append(int(i))


print(" Original list : ",new)
print(" Modified list : ", mod)

 Enter string : 7 12 4 55 96 2 11 61 33 42
 Original list :  [7, 12, 4, 55, 96, 2, 11, 61, 33, 42]
 Modified list :  [7, 55, 11, 61, 33]

# Task 10



Write a Python program that reads
a string as an input from the
user where multiple numbers are
separated by commas. Then, make a
list of numbers from the input
string and print the list.
Finally, remove multiple
occurrences of any numbers from
the input list and print the
modified list without duplicate
values.

Hint: You may create a third list

to store the results but you may
try doing it in the same input
list. You can use membership
operators (in, not in) to make
sure no duplicates are added.

==================================
=================================

Sample Input 1:

0, 0, 1, 2, 3, 4, 4, 5, 6, 6, 6,
7, 8, 9, 4, 4

Sample Output 1:

Input list: [0, 0, 1, 2, 3, 4, 4,
5, 6, 6, 6, 7, 8, 9, 4, 4]

Modified list: [0, 1, 2, 3, 4, 5,
6, 7, 8, 9]


==================================
=================================

Sample Input 2:

7, 7, 7, 1, 0, 3, 3, 55, 9

Sample Output 2:

Input list: [7, 7, 7, 1, 0, 3, 3,
55, 9]

Modified list: [7, 1, 0, 3, 55, 9]

In [ ]:
user=input(" Enter your string : ").split(",")
inp=[]
new=[]

for i in user:
  inp.append(int(i))


for j in inp:
  if j in new:
    continue
  else:
    new.append(j)


print(" Input list : ", inp)
print(" Modified list : ",new)

 Enter your string : 0, 0, 1, 2, 3, 4, 4, 5, 6, 6, 6, 7, 8, 9, 4, 4
 Input list :  [0, 0, 1, 2, 3, 4, 4, 5, 6, 6, 6, 7, 8, 9, 4, 4]
 Modified list :  [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

# Task 11


Assume, you have been given two
lists: List_one and List_two.
[Your program should work for any
two given lists; change the
following lists and check whether
your program works correctly for
the code you have written]

Write a Python program that
prints "True", if the given two
lists have at least one common
member. Otherwise, print "False".
Note: Please use concepts of flag

and break to solve this task.

==================================
=================================

Given lists 1:

List_one : [1, 4, 3, 2, 6]

List_two : [5, 6, 9, 8, 7]

Sample Output 1:

True

==================================
=================================

Given lists 2:

List_one : [1, 4, 3, 2, 5]

List_two : [8, 7, 6, 9]

Sample Output 2:

False

In [ ]:
user1=input()[1:-1].split(",")
user2=input()[1:-1].split(",")

flag=False

for i in user1:
  if i in user2:
    flag=True
    break
  else:
    flag= False

if flag==True:
  print("True")
elif flag==False:
  print("False")

[1, 4, 3, 2, 5]
[8, 7, 6, 9]
F

# **Optional Tasks (16-21) [Ungraded]**

# Task 16



Write a Python program that reads
7 numbers into a list and prints
the second largest number and its
location or index position on the
list. [You are not allowed to use
the max(), sort(), sorted()
function here]

==================================
=================================

Sample Input:

7, 13, 2, 10, 6, -11, 0

Sample Output:

My list: [7, 13, 2, 10, 6, -11, 0]

Second largest number in the list
is 10 which was found at index 3.

In [ ]:
user=input().split(",")
idx=0
min=-1
max=0


for i in range(7):
  if int(user[i])>min:
    min=int(user[i])
    idx=i
    max=min

s_idx=0
s_min=-1
s_max=0

for j in range(7):
   if int(user[j])< max:
      if int(user[j])> s_min:
        s_min=int(user[j])
        s_idx=j
        s_max=s_min

lst=[]
for i in user:
  lst.append(int(i))


print("Mylist : ",lst)
print(f"Second largest number in the list is {s_max} which was found at index {s_idx}. ")

7, 13, 2, 10, 6, -11, 0
Mylist :  [7, 13, 2, 10, 6, -11, 0]
Second largest number in the list is 10 which was found at index 3.

# Task 17


Write a Python program that reads
5 numbers into a list and prints
the smallest and largest number
and their locations in the list.
[You are not allowed to use the
max(), min(), sort(), sorted()
functions here]

Hint: You may assume the first
input to be the largest value
initially and the largest value’s
location to be 0. Similarly, you
can assume the first input to be
the smallest value initially and
the smallest value’s location to
be 0.

Note: You may need to be careful
while printing the output.
Depending on your code, you might
need data conversion.

==================================
=================================

Sample Input:

7, 13, -5, 10, 6

Sample Output:

My list: [7, 13, -5, 10, 6]

Smallest number in the list is -5
which was found at index 2

Largest number in the list is 13
which was found at index 1

In [ ]:
user=input().split(",")
new=[]
for i in user:
  new.append(int(i))

#--------------------------
min=-1
max=0
idx=0


for i in range(5):
  if int(user[i]) > min:
    min=int(user[i])
    idx=i
    max=min



#--------------------------
smin=-1
smax=0
sidx=0

for j in range(5):
  if int(user[j]) < smin :
    smin=int(user[j])
    sidx=j
    smax=smin

print(f"Smallest number in the list is {smin} which was found at index {sidx}.")
print(f"Largest number in the list is {max} which was found at index {idx}.")

7, 13, -5, 10, 6
13
1
Smallest number in the list is -5 which was found at index 2.
Largest number in the list is 13 which was found at index 1.



# Task 18


Write a Python program that takes
two lists as an input from the
user. Then print a new list with
the common elements of both the
input lists.

Hint: You may need to create a
third list to store the results.
You can use membership operators
(in, not in) to make sure similar
elements are added.

==================================
=================================

Sample Input 1:

A, B, C, D

C, E, F, B

Sample Output 1:

['C', 'B']

==================================
=================================

Sample Input 2:

1, 3, A, H, P

A, G, 1, P, O

Sample Output 2:

['1', 'A', 'P']

In [ ]:
user1=input().split(",")
user2=input().split(",")
new=[]


for i in user1:
  if i in user2:
    new.append(i)
  else:
    continue

print(new)

A,B,C,D
C,E,F,B
['B', 'C']

# Task 19


Assume, you have been given two
lists. [Your program should work
for any two given lists; make
changes to the lists below and
check whether your program works
correctly]

list_one = [1, 2, 2, 4, 5, 5, 7,
99, 200, 303, 70]

list_two = [1, 1, 2, 3, 3, 3, 4,
5, 200, 500, -5]

Write a Python program that
creates a new list with all the
unique elements of both the given
lists. You need to make sure that
there are no duplicates in the
resulting list. Finally, print
the updated list.

Hint: You may create a third list
to store the results. You can use
membership operators (in, not in)
to make sure no duplicates are
added.

==================================
=================================

Output for the above two lists:
[1, 2, 4, 5, 7, 99, 200, 303, 70,
3, 500, -5]

In [13]:
user1=input()[1:-1].split(",")
user2=input()[1:-1].split(",")


new=[]


for i in user1:

    if i not in new:
      new.append(i)

for j in user2:

    if j not in new:
      new.append(j)
print(new)

[1, 1, 2, 3, 3, 3, 4, 5, 200, 500, -5]
[1, 2, 2, 4, 5, 5, 7, 99, 200, 303, 70]
['1', ' 1', ' 2', ' 3', ' 4', ' 5', ' 200', ' 500', ' -5', ' 7', ' 99', ' 303', ' 70']
[1, 2, 2, 4, 5, 5, 7, 99, 200, 303, 70]
[1, 1, 2, 3, 3, 3, 4, 5, 200, 500, -5]
['1', ' 2', ' 4', ' 5', ' 7', ' 99', ' 200', ' 303', ' 70', ' 1', ' 3', ' 500', ' -5']

# Task 20


Write a python program to take a
list as a string input from the
user and print it back to the
user as a list. Please look at
the examples below for
clarification.

[Must use string split() and strip
() functions]

==================================
==============================

Sample Input 1:

'1,        2 ,            3, 50,
4'

Sample Output 1:

Original data: 1,        
2 ,            3, 50, 4

After removing square brackets:
1,        2 ,            3, 50, 4

Numbers in string format with

extra white spaces: ['1', '       
2' ,'            3', '50', '4']

Final data (numbers in list
format): [1, 2, 3, 50, 4]

==================================
==============================

Sample Input 2: '[1,      
2   ,            3, 50, 4]'

Sample Output 2:

Original data: [1,      
2   ,            3, 50, 4]

After removing square brackets:
1,      2   ,            3, 50, 4

Numbers in string format with
extra white spaces: ['1', '      
2   ', '            3', '50', '4']

Final data (numbers in list format): [1, 2, 3, 50, 4]


==================================
==============================

Sample Input 3:

"      [1,   2   ,         3,   50,   4]         "

Sample Output 3:

Original data:       [1,   
2   ,         3,   50,  4]         

After removing square brackets:
1,   2   ,         3,   50,   4

Numbers in string format with
extra white spaces: [' 1', '   
2   ', '         3', '   50', '   4']

Final data (numbers in list
format): [1, 2, 3, 50, 4]

In [38]:
user=input("Enter your string : ")[1:-1].split(" ")



new=[]

for i in user:
  if i!="":
    if i !=",":
     new.append(i)
print(new)

Enter your string : '1,        2 ,            3, 50, 4'
['1,', '2', '3,', '50,', '4']

In [54]:
user1=input("Enter your string : ")[1:-1]
print("------------------------------------------------------------------------------")
print("Original data:",user1)
print("------------------------------------------------------------------------------")
user2=user1
print("after removing squre bracket : ",user2)
print("------------------------------------------------------------------------------")

user3=user2.split(",")
print("Numbers in string format with extra white spaces: ",user3)

user=user2.split("  ")
new=[]


for i in user:
  if i!="":
    if i !=",":
     new.append(i)
print("Final data (numbers in list format): ",new)

Enter your string : '1,        2 ,            3, 50, 4'
------------------------------------------------------------------------------
Original data: 1,        2 ,            3, 50, 4
------------------------------------------------------------------------------
after removing squre bracket :  1,        2 ,            3, 50, 4
------------------------------------------------------------------------------
Numbers in string format with extra white spaces:  ['1', '        2 ', '            3', ' 50', ' 4']
Final data (numbers in list format):  ['1,', '2 ,', '3, 50, 4']

# Task 21


Write a Python program that takes
a single string as an input from
the user where few numbers are
separated by commas. Now, make a
list with the numbers of the
given string. Then your task is to remove multiple occurrences of
any number and then finally print
the list without any duplicate
values.

Hint (1): For obtaining the
numbers from the string, use split
(). For cleaning the data, use
strip().

Hint (2): You may create a third

list to store the results. You
can use membership operators (in,
not in) to make sure no
duplicates are added.

==================================
=================================

Sample Input 1:

0, 0, 1, 2, 3, 4,      4, 5, 6,
6, 6,      7, 8, 9, 4,         4

Sample Output 1:

Given numbers in list: [0, 0, 1,
2, 3, 4, 4, 5, 6, 6, 6, 7, 8, 9,
4, 4]

List without any dupliacte
values: [0, 1, 2, 3, 4, 5, 6, 7,
8, 9]

==================================
=================================


Sample Input 2:

7, 7, 7, 1,           0, 3, 3,   
55, 9

Sample Output 2:

Given numbers in list: [7, 7, 7,
1, 0, 3, 3, 55, 9]

List without any dupliacte
values: [7, 1, 0, 3, 55, 9]

In [86]:
user=input("Enter string : ").strip()
print("------------------------------------------------------------")
new=[]

for i in user:
  if i in new:
    continue
  else:
    if i!=" " and i!=",":
      new.append(i)

final=[int(i) for i in new ]

print("Given number is the list : ",[int(i) for i in user.split(",")])
print("===========================================================")
print("List without any dupliacte values : ",final)

Enter string : 0, 0, 1, 2, 3, 4,      4, 5, 6, 6, 6,      7, 8, 9, 4,         4
------------------------------------------------------------
Given number is the list :  [0, 0, 1, 2, 3, 4, 4, 5, 6, 6, 6, 7, 8, 9, 4, 4]
===========================================================
List without any dupliacte values :  [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]