# PDF LINK

https://docs.google.com/document/d/1LmTJjjxENLV5BXynaSmboIFa53_nwHUB/edit

This Assignment is to help you develop your concept of Tuples and Dictionary in Python.
[Please follow variable naming conventions including using meaningful variable names for all the tasks]
When you run your code, please make sure your outputs exactly match the sample outputs for each of the sample inputs given. Check if your code works for other valid inputs not given in the samples.
Write the code in Python to do the following tasks:
**bold text**

#             Part 1: Tuples

# Task 1

Assume, you have been given a tuple.

a_tuple = ("The Institute", ("Best Mystery & Thriller", "The Silent Patient", 68821), 75717,
[1, 2, 3, 400, 5, 6, 7], ("Best Fiction", "The Testaments", 98291))


Write one line of Python code to access and print the value 400.


==================================
=================================


Output: 400

===================================================================

In [ ]:
a_tuple = ("The Institute", ("Best Mystery & Thriller", "The Silent Patient", 68821), 75717,
[1, 2, 3, 400, 5, 6, 7], ("Best Fiction", "The Testaments", 98291))

x=a_tuple[3][3]

print(x)

400

# Task 2

Assume, you have been given a tuple. Write a Python program that creates a new tuple excluding the first and last two elements of the given tuple and prints the new tuple.

Hint: You may use tuple slicing.


===================================================================


Sample Input 1:
(10, 20, 24, 25, 26, 35, 70)


Sample Output 1:
(24, 25, 26)


===================================================================


Sample Input 2:
(-10, 20, 30, 40)

Sample Output 2:
()


===================================================================


Sample Input 3:
(-10, 20, 25, 30, 40)


Sample Output 3:
(25,)

In [ ]:
x=tuple(int(i) for i in input()[1:-1].split(","))

new=x[2:-2]
print(new)

(10, 20, 24, 25, 26, 35, 70)
(24, 25, 26)

In [ ]:
user=input()[1:-1].split(",")
x=[]
for i in user:
  x.append(int(i))


new=tuple(x[2:-2])
print(new)

#we converted input string to list using split and loop
# and then we used list slicing and convert list to tuple

Elapsed time:  4.57763671875e-05
(10, 20, 24, 25, 26, 35, 70)
(24, 25, 26)



# Task 3


Assume, you have been given a tuple.
book_info = (
("Best Mystery & Thriller","The Silent Patient",68,821),
("Best Horror","The Institute",75,717),
("Best History & Biography","The five",31,783 ),
("Best Fiction","The Testaments",98,291)
)
Write a Python program that prints the size of the tuple and all its elements as shown below.


===================================================================


Output:
Size of the tuple is: 4
('Best Mystery & Thriller', 'The Silent Patient', 68, 821)
('Best Horror', 'The Institute', 75, 717)
('Best History & Biography', 'The five', 31, 783)
('Best Fiction', 'The Testaments', 98, 291)


===================================================================

In [ ]:
book_info = (
("Best Mystery & Thriller","The Silent Patient",68,821),
("Best Horror","The Institute",75,717),
("Best History & Biography","The five",31,783 ),
("Best Fiction","The Testaments",98,291)
)

print("Size of the tuple is :",len(book_info))

for i in book_info:
  print(i)

Size of the tuple is : 4
('Best Mystery & Thriller', 'The Silent Patient', 68, 821)
('Best Horror', 'The Institute', 75, 717)
('Best History & Biography', 'The five', 31, 783)
('Best Fiction', 'The Testaments', 98, 291)

# Task 4


Assume, you have been given a tuple with details about books that won the Good Reads Choice Awards.
book_info = (
("Best Mystery & Thriller","The Silent Patient",68821),
("Best Horror","The Institute",75717),
("Best History & Biography","The five",31783 ),
("Best Fiction","The Testaments",98291)
)

Write a Python program that prints the award category, the book name, and its total votes earned as shown below.


[Must use Tuple unpacking for printing and need to handle the quotation marks as a part of the output]


===================================================================


Output:
The Silent Patient won the 'Best Mystery & Thriller' category with 68821 votes
The Institute won the 'Best Horror' category with 75717 votes
The five won the 'Best History & Biography' category with 31783 votes
The Testaments won the 'Best Fiction' category with 98291 votes


===================================================================

In [ ]:
book_info = (
("Best Mystery & Thriller","The Silent Patient",68821),
("Best Horror","The Institute",75717),
("Best History & Biography","The five",31783 ),
("Best Fiction","The Testaments",98291)
)

for i,j,k in book_info:
  print(f"{j} won the best '{i}' category with {k} votes ")

The Silent Patient won the best 'Best Mystery & Thriller' category with 68821 votes
The Institute won the best 'Best Horror' category with 75717 votes
The five won the best 'Best History & Biography' category with 31783 votes
The Testaments won the best 'Best Fiction' category with 98291 votes

# Task 5

---

Write a python program that takes
an input from the user and finds
the number of times that the
input is present in a given tuple.

==================================

=================================

Example 1:


Given tuple: (10, 8, 5, 2, 10,
15, 10, 8, 5, 8, 8, 2)

Sample Input 1:

8

Sample Output 1:

8 appears 4 times in the tuple


==================================

=================================


Example 2

Given tuple: (10, 8, 5, 2, 10,
15, 10, 8, 5, 8, 8, 2)

Sample Input 2:

1

Sample Output 2:

1 appears 0 times in the tuple


------

In [ ]:
x= (10, 8, 5, 2, 10, 15, 10, 8, 5, 8, 8, 2)
user=int(input())
c=0
for i in x:

  if user==int(i):
    c+=1
print(f"{user} appears {c} times in the tuple")

8
8 appears 4 times in the tuple

# Task 6


Write a Python program to reverse a given tuple.


[You are not allowed to use slicing]


===================================================================


Note: Unlike lists, tuples are immutable. So, in order to reverse a tuple, we may need to convert it into a list first, then modify the list, and finally convert it back to a tuple.


===================================================================


Example 1:
Given tuple: ('a', 'b', 'c', 'd', 'e', 'f', 'g', 'h')
Output:
('h', 'g', 'f', 'e', 'd', 'c', 'b', 'a')


===================================================================


Example 2:
Given tuple: (10, 20, 30, 40, 50, 60)


Output:
(60, 50, 40, 30, 20, 10)

In [ ]:
from string import digits

x=input()[1:-1].split(",")

lst=[]
for i in range(len(x)-1,-1,-1):
  if i is digits:
    lst.append(int(x[i]))
  else:
    lst.append(x[i])


print(tuple(lst))

Task 6 Write a Python program to reverse a given tuple.  [You are not allowed to use tuple slicing]  ===================================================================  Note: Unlike lists, tuples are immutable. So, in order to reverse a tuple, we may need to convert it into a list first, then modify the list, and finally convert it back to a tuple.  ===================================================================  Example 1:  Given tuple: ('a', 'b', 'c', 'd', 'e', 'f', 'g', 'h')  Output:  ('h', 'g', 'f', 'e', 'd', 'c', 'b', 'a')
(" 'a'", " 'b'", " 'c'", " 'd'", " 'e'", " 'f'", " 'g'", " 'h')  Output:  ('h'", " 'g'", " 'f'", " 'e'", " 'd'", " 'c'", " 'b'", " and finally convert it back to a tuple.  ===================================================================  Example 1:  Given tuple: ('a'", ' then modify the list', ' we may need to convert it into a list first', ' in order to reverse a tuple', ' tuples are immutable. So', 'ask 6 Write a Python program to reverse a given tuple.  [You are not allowed to use tuple slicing]  ===================================================================  Note: Unlike lists')

# Part 2: Dictionary



# Task 7


Suppose you are given two dictionaries.


Now create a new dictionary "marks", merging the two dictionaries, so that the original two dictionaries remain unchanged.

Note: You can use dictionary functions.

===================================================================

Given:

{'Harry':15, 'Draco':8, 'Nevil':19}

{'Ginie':18, 'Luna': 14}

Output:

{'Harry': 15, 'Draco': 8, 'Nevil': 19, 'Ginie': 18, 'Luna': 14}

===================================================================

Given:

{'A':90, 'B': 0}

{'C':50}

Output:

{'A': 90, 'B': 0, 'C': 50}

=============================================================

In [ ]:
x={'Harry':15, 'Draco':8, 'Nevil':19}
y={'Ginie':18, 'Luna': 14}

x.update(y)

print(x)

{'Harry': 15, 'Draco': 8, 'Nevil': 19, 'Ginie': 18, 'Luna': 14}

# Task 8



Write a Python program that takes a dictionary as an input from the user and then prints the average
of all the values in the dictionary.

[You are not allowed to use len() and sum()]


===================================================================

Hint (1): For taking dictionary input

Approach (1): For taking dictionary as an input from the
user, you may take the whole
dictionary as a string using the
input() function. Then you can
use the split(), strip()
functions and conditions to get the keys and values from the string. Finally, you can make the dictionary using the obtained data.


Approach (2): If the first approach seems too difficult you can create an empty dictionary and then just run a simple loop. For each iteration ask the user for a key and a value using the input() function and keep updating the dictionary with the key and value.

Hint (2): After you have a dictionary, you can use dictionary functions to get all the values from it, run loop to calculate the sum and the total number of values in the dictionary in order to find out
the average.


===================================================================


Sample Input 1:
Jon:100, Dan:200, Rob:300
Sample Output 1:
Average is 200.


===================================================================


Sample Input 2:
Jon:100, Dan:200, Rob:30, Ned:110
Sample Output 2:
Average is 110.


===================================================================

In [ ]:
user=(input()).split(",")
new={}

#taking input and convtert to list using split
# again splited using : and store in x,y

for i in user:
  x,y=i.split(":")
  new[x]=y
print(new)


c=0
sum=0
for key,value in new.items():
  sum+=int(value)
  c+=1

avg=int(sum/c)

print(f" Avarage is : {avg}")

Jon:100, Dan:200, Rob:300
{'Jon': '100', ' Dan': '200', ' Rob': '300'}
 Avarage is : 200

# Task 9


Suppose there is a dictionary named exam_marks as given below.
exam_marks = {'Cierra Vega': 175, 'Alden Cantrell': 200, 'Kierra Gentry': 165, 'Pierre Cox': 190}
Write a Python program that takes an input from the user and creates a new dictionary with only those elements from 'exam_marks' whose keys have values higher than the user input (inclusive).


===================================================================


Sample Input 1:
170
Sample Output 1:

{'Cierra Vega': 175, 'Alden Cantrell': 200, 'Pierre Cox': 190}


===================================================================


Sample Input 2:
190
Sample Output 2:

{'Alden Cantrell': 200, 'Pierre Cox': 190}


===================================================================

In [ ]:
xm = {'Cierra Vega': 175, 'Alden Cantrell': 200, 'Kierra Gentry': 165, 'Pierre Cox': 190}
new={}


user=int(input("Enter number "))

for key,value in xm.items():
  if value>=user:
    new[key]=value

print(new)

Enter number 190
{'Alden Cantrell': 200, 'Pierre Cox': 190}

# Task 10


Write a Python program that finds the largest value with its key from a given dictionary.


[You are not allowed to use the max() function for this task]


Note: You do not need to take the dictionaries as an input from the user but your code should work for any given dictionary. Also, you need to handle the quotation marks as a part of the output.
Hint: Think of membership operators (in and not in). You can use dictionary functions to get the values.


===================================================================


Sample 1:
Given:
{'sci fi': 12, 'mystery': 15, 'horror': 8, 'mythology': 10, 'young_adult': 4, 'adventure':14}
Output:
The highest selling book genre is 'mystery' and the number of books sold are 15.


===================================================================


Sample 2:
Given:
{'sci fi': 5, 'mystery': 3, 'horror': 14, 'young_adult': 2, 'adventure':9}
Output:
The highest selling book genre is 'horror' and the number of books sold are 14.


===================================================================

In [ ]:
#d={'sci fi': 12, 'mystery': 15, 'horror': 8, 'mythology': 10, 'young_adult': 4, 'adventure':14}
d={'sci fi': 5, 'mystery': 3, 'horror': 14, 'young_adult': 2, 'adventure':9}
min=-1
max=0

for key,value in d.items():
  if int(value)>min:
    min=int(value)
    max=min
    x=key

print(max)
print(x)

print(f"The highest selling book genre is {x} and the number of sold books are {max}")

14
horror
The highest selling book genre is horror and the number of sold books are 14

# Task 11

Write a Python program that takes a String as an input from the user and counts the frequency of each character using a dictionary. For solving this problem, you may use each character as a key and its frequency as values.

 [You are not allowed to use the count() function]


Hint: You can create a new dictionary to store the frequencies. You may ignore case for simplicity (i.e. may consider P and p to be the same).


===================================================================


Sample Input:
"Python programming is fun"
Sample Output:

{'p': 2, 'y': 1, 't': 1, 'h': 1, 'o': 2, 'n': 3, 'r': 2, 'g': 2, 'a': 1, 'm': 2, 'i': 2, 's': 1, 'f': 1, 'u': 1}


===================================================================

In [ ]:
user=input()[1:-1]
d={}

#i used slicing bcz input was string "Python programming is fun"
# if input is : Python programming is fun than donot need to slice

for i in user:

  if i not in d:
    d[i]=1
  else:
    d[i]+=1

print(d)

"Python programming is fun"
P
y
t
h
o
n

p
r
o
g
r
a
m
m
i
n
g

i
s

f
u
n
{'P': 1, 'y': 1, 't': 1, 'h': 1, 'o': 2, 'n': 3, ' ': 3, 'p': 1, 'r': 2, 'g': 2, 'a': 1, 'm': 2, 'i': 2, 's': 1, 'f': 1, 'u': 1}

# Task 12


Suppose you are given the following dictionary where the values are lists.


dict_1 = {'A': [1, 2, 3], 'b': ['1', '2'], "c": [4, 5, 6, 7]}


Write a Python program that counts the total number of items in a dictionary’s values and prints it.


[Without using sum(), len(), count() functions]


Note: Make changes to the above dictionary and see if your code works properly for other dictionaries as well.


===================================================================


Output:
9


===================================================================

In [ ]:
dict_1 = {'A': [1, 2, 3], 'b': ['1', '2'], "c": [4, 5, 6, 7]}
c=0
for key,value in dict_1.items():
  for i in value:
    c+=1
print(c)

9

# Task 13


Suppose you have been given the following list of tuples.
list_1 = [("a", 1), ("b", 2), ("a", 3), ("b", 1), ("a", 2), ("c", 1)]


Write a Python program that converts this list of tuples into a dictionary and then prints the dictionary. The items in each tuple are a key and its value respectively. You need to group the values with the same keys into a list as shown below.


[You are not allowed to use set]

Hint: Think of membership operators (in and not in).


===================================================================


Output:
{'a': [1, 3, 2], 'b': [2, 1], 'c': [1]}


===================================================================

In [ ]:
list_1 = [("a", 1), ("b", 2), ("a", 3), ("b", 1), ("a", 2), ("c", 1)]
d={}


for i,j in list_1:
  print(i,j)

  if i not in d:
    d[i]=[j]
  else:
    d[i].append(j)
print(d)

a 1
b 2
a 3
b 1
a 2
c 1
{'a': [1, 3, 2], 'b': [2, 1], 'c': [1]}

# Optional Tasks (15-20) [Ungraded]

# Task 15


Given a list of tuples, your task is to multiply the elements of the tuple and return a list of multiplied elements as shown below.

===================================================================


Example 1:
Given:
[(2, 3), (4, 5), (6, 7), (2, 8)]


Output:
[6, 20, 42, 16]

===================================================================


Example 2:

Given:
[(11, 22), (33, 55), (55, 77), (11, 44)]


Output:
[242, 1815, 4235, 484]


===================================================================

In [ ]:
x=[(2, 3), (4, 5), (6, 7), (2, 8)]
lst=[]
for i in x:
  a,b=i


  product=a*b
  lst.append(product)


print(lst)

[6, 20, 42, 16]

# Task 16


Assume, you have been given a tuple as below.


a_tuple = ( [1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12])


Write a Python program that asks the user for an input (can be any data type) and replaces the last element of each of the inner lists with the user given value.


===================================================================


Sample Input 1:
abc


Sample Output 1:
([1, 2, 'abc'], [4, 5, 'abc'], [7, 8, 'abc'], [10, 11, 'abc'])


===================================================================


Sample Input 1:
1000


Sample Output 1:
([1, 2, '1000'], [4, 5, '1000'], [7, 8, '1000'], [10, 11, '1000'])

In [ ]:
x = ( [1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12])
user=input()

lst=[]

for i in x:
  i=i[:-1]
  i.append(user)
  lst.append(i)

print(tuple(lst))

sijan
([1, 2, 'sijan'], [4, 5, 'sijan'], [7, 8, 'sijan'], [10, 11, 'sijan'])

# Task 17


Suppose there is a dictionary named my_dictionary.


my_dictionary = {'c1':'Red', 'c2':'Green', 'c3':None, 'd4':'Blue', 'a5':None}.
Now write a Python program to remove empty items from the dictionary. [Empty items means keys without any values (None)].


===================================================================


Output:
{'c1':'Red', 'c2':'Green', 'd4':'Blue'}


===================================================================

In [ ]:
x = {'c1':'Red', 'c2':'Green', 'c3':None, 'd4':'Blue', 'a5':None}
d={}
for i,j in x.items():
  if j is not None:
    d[i]=j

print(d)

{'c1': 'Red', 'c2': 'Green', 'd4': 'Blue'}

# Task 18


Suppose you are given a dictionary as shown below. Write a Python program that takes two inputs from the user representing the lower (inclusive) and upper (exclusive) of a range of values. Your task is to extract all the items from the dictionary whose values lie in the range given as input by the user.


dict_1 = {'a' : 6, 'b' : 7, 'c' : 9, 'd' : 8, 'e' : 11, 'f' : 12, 'g' : 13}


===================================================================


Sample Input 1:
9, 12


Sample Output 1:
{'c': 9, 'e': 11}


Explanation: Keys with values within the range of 9 and 11 are extracted.



===================================================================


Sample Input 2:
14, 18


Sample Output 2:
{}
Explanation: No values in range.



===================================================================



---

In [ ]:
d= {'a' : 6, 'b' : 7, 'c' : 9, 'd' : 8, 'e' : 11, 'f' : 12, 'g' : 13}

low=int(input("enter lower number :"))
up=int(input("enter upper number :"))

x={}

for i,j in d.items():


  if low <= j  and  j<up:
    x[i]=j

print(x)

9
12
{'c': 9, 'e': 11}

# Task 19


Given a list of tuples, your task is to group the tuples based on the second element in the tuples as shown in the examples below. We can achieve this using dictionary by checking the second element in each tuple.


[You do not need to take tuple as input and can assume that it is given as below]




===================================================================


Example 1:
Given:
[(20, 80), (31, 80), (1, 22), (88, 11), (27, 11)]
Output:
{80: [(20, 80), (31, 80)],
11: [(88, 11), (27, 11)],
22: [(1, 22)]}


===================================================================


Example 2:
Given:
[(20, 'Sad'), (31, 'Sad'), (88, 'NotSad'), (27, 'NotSad')]
Output:
{'NotSad': [(88, 'NotSad'), (27, 'NotSad')],
'Sad: [(20, 'Sad'), (31, 'Sad')]}


===================================================================

In [ ]:
Item=[(20, 80), (31, 80), (1, 22), (88, 11), (27, 11)]


#dict to store my second value
D={}

for x,y in Item:
  if y in D:
    D[y].append((x,y))
  else:
    D[y]=[(x,y)]

print(D)

{80: [(20, 80), (31, 80)], 22: [(1, 22)], 11: [(88, 11), (27, 11)]}

In [3]:
Input=[(20, 80), (31, 80), (1, 22), (88, 11), (27, 11)]

dicct={}


for i,j in Input:
  if j in dicct:
    dicct[j].append((i,j))
  else:
    dicct[j]=[(i,j)]
print(dicct)

{80: [(20, 80), (31, 80)], 22: [(1, 22)], 11: [(88, 11), (27, 11)]}
80 [(20, 80), (31, 80)]
22 [(1, 22)]
11 [(88, 11), (27, 11)]

# Task 20


Write a python program that takes 2 inputs from the user.
Input1: A string containing a single sentence or multiple sentences. Multiple sentences are separated by full stops.
Input2: A list containing special characters.
After taking the inputs, your task is to create a dictionary where the keys will be the corresponding special characters from the given list and the values will be the words in the given sentence.
You need to find out which key belongs to which value. To do that, you should calculate the index number using the formula given below. The calculated index is the corresponding key of the word. Make sure no duplicate values are inserted.


The formula:


Index value of special character list = (ASCII sum of the word) % (length of special character list)


========================================================================

Sample Input 1:

'I love Programming. Python is love.'

['@', '$', '&', '#']

Sample Output 1:

Words in the given String: ['I', 'love', 'Programming', 'Python', 'is',
'love']

Answer: {'$': ['I'], '&': ['love', 'Python'], '#': ['Programming'],
'@': ['is']}

Explanation 1:

From the string 'I love Programming. Python is love.' the {key: value}
pair is calculated accordingly:




The calculation is shown in the given table. Full stops after
‘Programming.’ and ‘love.’ are avoided. Also, the last word ‘love’ is a
duplicate, and therefore, it was not inserted again as a value.

========================================================================

Sample Input 2:

'The secret of getting ahead is getting started.'


['-', '=', '+', '*', '%']

Sample Output 2:

Words in the given String: ['The', 'secret', 'of', 'getting', 'ahead',
'is', 'getting', 'started']


Answer: {'%': ['The', 'getting', 'ahead', 'started'], '=': ['secret'],
'*': ['of'], '-': ['is']}

Explanation 2:

From the string 'The secret of getting ahead is getting started.' the
{key: value} pair is calculated accordingly:

In [17]:
user1=input()[1:-1]
user2=input()[1:-1].split(",")


d={}

print(user1)
print(user2)


for i in user1:

  idx= ord(i)% len(user2)

'I love Programming. Python is love.'
['@', '$', '&', '#']
I love Programming. Python is love.
["'@'", " '$'", " '&'", " '#'"]
1
0
0
3
2
1
0
0
2
3
3
2
1
1
1
1
2
3
2
0
0
1
0
0
3
2
0
1
3
0
0
3
2
1
2

In [15]:
x="a,b,c,d"

for i in x:
  print(i)
  print(ord(i))

a
97
,
44
b
98
,
44
c
99
,
44
d
100

In [35]:
x='I love Programming. Python is love.'.split(".")
sum=0
print(x)

for i in x:

  for j in i:
    idx=ord(j)
    sum+=idx
    print(sum)
  sum=0

['I love Programming', ' Python is love', '']
73
105
213
324
442
543
575
655
769
880
983
1097
1194
1303
1412
1517
1627
1730
32
112
233
349
453
564
674
706
811
926
958
1066
1177
1295
1396

In [69]:
x='I love Programming. Python is love.'.split(".")

print(x)

sum=0
for i in x:
#  print(i)

  for j in i:
  #  print(j)

    if j !=" ":
      sum+=ord(j)
    else:
      sum=0
      pass

    print(sum)

['I love Programming', ' Python is love', '']
73
0
108
219
337
438
0
80
194
305
408
522
619
728
837
942
1052
1155
0
80
201
317
421
532
642
0
105
220
0
108
219
337
438

In [ ]:
#will solve later this task